.body {
  font-family: Quicksand;
  font-size: 25px;
  color: indigo;
}

.titulo {
  background-color: rgba(35, 0, 130, 0.452);
  color: #ebebeb;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 0.2em;
  padding-bottom: 0.6em;
}

.titulo img {
  height: 180px;
}

.subtitulo {
  margin-top: -80px;
  font-size: 1em;
  color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 7em;
}

.MenuWrap {
  background-color: indigo;
  font-size: 1em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.menu-item{
  border-left: #ebebeb solid;
  padding: 0.5em;
}

.ListItem,
.LastItem {
  color: #ebebeb;
  text-decoration: none;
}
.ListItem {
  margin-right: 1em;
}
.LastItem {
  margin-right: auto;
}
/*Sombrear de amarillo las opciones de nav (barra de menús)*/
.menu-item a:hover{
  color: rgb(226, 238, 55);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background: linear-gradient(to bottom right,  #69af9d83, #fffffd8c);
    text-align: justify;
  }

.iniciar_sesion {
    display: flex;
    flex-direction: column; /*Mostrar el diseño sin esto*/
    align-items: center;
    padding: 1em;
    padding-bottom: 5em;
}

#parrafo_descripcion {
    border-radius: 6px;
    border:rgba(35, 0, 130, 0.452) solid;
    border-color: indigo;
    padding: 1em;
    margin: 1em;
    background-color: rgba(35, 0, 130, 0.178);
    
    
}
#descripcion{
  font-size: 25px;
}

#formulario_iniciar_sesion {
    border-radius: 6px;
    border:rgba(35, 0, 130, 0.452) solid;
    border-color: indigo;
    padding: 1em;
    margin: 1em;
    text-align: center;
    background-color: rgba(35, 0, 130, 0.178);
}

#check_div {
    margin: 1em;
    margin-left: 0;
    padding: 0.2em;
    text-align: left;
}
.campos{
  padding-top: 1em;
}
.inputs{
  padding: 8px;
  font-size: 0.8em;
  font-weight: 500;
  padding-right: 2em;
  color: indigo;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#link {
    font-size: 15px;
    color: rgba(35, 0, 130, 0.452);
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#br a:hover{
  color: rgb(226, 238, 55);
}
.descripcion {
  text-align: justify;
}
/*Estilos botones*/
#button {
  background-color: indigo;
  border: 1px indigo solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}

#button2 {
  background-color: rgba(35, 0, 130, 0.452);
  border: 1px rgba(35, 0, 130, 0.452) solid;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 1em;
}
/*Sombrear el botón principal*/
#button:hover{
  background-color: rgba(35, 0, 130, 0.452);
}
/*Sombrear el botón principal*/
#button2:hover{
  background-color: rgba(122, 103, 173, 0.452);
}

/*Estilo a la palabra del botón principal*/
#button b{
  font-size: 15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 /*Estilo a la palabra del botón secundario*/
#button2 label{
  font-size: 15px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  cursor: pointer;
}

#br{
  margin: 1em;
}

.ubicar{
  text-align: center;
}

.msje_inicia_sesion h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: indigo;
}

/*Inicio código CSS (Estilo): para que se seleccione el cuadrito de mantener la sesion iniciada
Estilo para el checkbox también*/
.checkbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 11px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: indigo;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #eee;
  border: 1px solid #ccc;
}

.checkbox:hover input ~ .check {
  border: 2px solid indigo;
}
.checkbox input:checked ~ .check{
  background-color: indigo;
  border: none;
}
.check::after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .check::after{
  display: block;
}
.checkbox .check::after{
  left: 3px;
  top: 0px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*Fin código CSS (Estilo): para que se seleccione el cuadrito de mantener la sesion iniciada
Estilo para el checkbox también*/

.grid-container {
  background-color: rgba(35, 0, 130, 0.178);
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 60px;
  border: solid;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-color: indigo;
  margin: 0.5em;
  margin-bottom: 0;
  padding: 1em;
  align-items: center;
}

.item { 
  grid-area: footer; 
  font-size: 15px;
}


/*
#ch:hover {
  border-color: indigo;
}
#lbl {
  font-size: 15px;
  color:indigo;
}
*/


/*Ventana Modal*/
#button2{
  transition: all 0.15s linear;
}


.modal{
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 99999999;
  background: rgba(0, 0, 0, 0.75);
  width: 100vw;
  height: 100vh;
  opacity: 0;
}

.modal .container{
  position: fixed;
  transition: top 0.35x ease;
  margin-left: 450px;
  background: #BBC2D6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 6px;
  padding: 1.2em;
  text-align: center;
}


.close-modal{
  color: indigo;
  position: absolute;
  top: 0.1em;
  right: 0.375em;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 1.3em;
  text-decoration: none;
  border-radius: 6px;
}

.header a:hover{
  background-color: rgba(35, 0, 130, 0.452);
}

.modal:target{
  opacity: 1;
  top: 0;
}

.modal .btn-close-modal{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999991;
}

.modal:target .container{
  top: 10px;
  transition: top 0.35s ease;
}

/*Formulario Registro*/

h1{
  color: indigo;
  font-size: 2em;
  margin-top: 10;
}

p{
  color: indigo;
  margin-bottom: 0;
}

.formulario{
  text-align: left;
  padding: 10px;
}

.input{
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: 500;
  padding-right: 2em;
  color: indigo;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.campo{
  padding-top: 1em;
}

#boton-cuenta{
  background-color: indigo;
  border: 1px indigo solid;
  border-radius: 1em;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 4px 2px;
  cursor: pointer;
}

#boton-cuenta:hover{
  background-color: rgba(35, 0, 130, 0.452);
}